[Unit]
Description=Grafana
After=docker.service
Wants=network-online.target docker.socket
Requires=docker.socket

[Service]
Type=simple
ExecStart=/usr/bin/docker start -a grafana
ExecStop=/usr/bin/docker stop -t 30 grafana
User=grafana
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
